html#popup {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  background-color: #444;
}

body#popup {
  width: 357px;
  min-height: 300px;
  overflow: scroll;
}

input[type=text] {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 1 px;
  -webkit-border-radius: 1px;
  color: #333;
  display: inline-block;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-size: 16px;
  height: 32px;
  line-height: 30px;
  padding-left: 8px;
  vertical-align: middle;
  margin-bottom: 15px;
  width: 270px;
  -webkit-app-region: no-drag;
}

input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus {
  border: 1px solid #4d90fe;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  outline: none;
}

input[type=text].form-error{
  border: 1px solid #ff3f3f;
}

#error-message {
  color: #ff3f3f;
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 5px;
}

#settings {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #444;
  text-align: left;
  padding: 15px;
  z-index: 1;
}

#settings #new {
  margin-bottom: 10px;
}

#searchterm {
  margin-top: 10px;
}

.button {
  background-color: #f5f5f5;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #444;
  cursor: default;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  min-width: 50px;
  padding: 0 8px;
  text-align: center;
  transition: all 0.218s;
  -webkit-transition: all 0.218s;
  white-space: nowrap;
  -webkit-app-region: no-drag;
}

.button:hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6Cc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  transition: all 0.0s;
  -webkit-transition: all 0.0s;
}

.button:active {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

.button.blue {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}

.button.blue:hover {
  background-color: #5093ff;
  background-image: -webkit-linear-gradient(top, #5093ff, #4a8af0);
  background-image: linear-gradient(top, #5093ff, #4a8af0);
  border: 1px solid #337cf3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}


.mobile #close {
  display: none;
}

.not-mobile #close {
  background: url('img/x.png') center no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  z-index: 100;
  visibility: hidden;
}

body:hover.not-mobile #close {
  visibility: visible;
}

#close {
  display: none;
}

.hidden {
  /*display: none;*/
  visibility: hidden;
}

#settingsToggle {
  background: url('img/settings.png') center no-repeat;
  background-size: 36px 36px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  -webkit-app-region: no-drag;
  z-index: 100;
}

      